<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @alumno.Nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @alumno.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @alumno.telefono %>
</p>

<p>
  <strong>Fechadematriculacion:</strong>
  <%= @alumno.fechadeMatriculacion %>
</p>

<%= link_to 'Edit', edit_alumno_path(@alumno) %> |
<%= link_to 'Back', alumnos_path %>
